[Desktop Entry]
Name=VB Player
Comment=Cross-platform HiFi audio player
Exec=vb-player
Icon=vb-player
Type=Application
Categories=AudioVideo;Player;
StartupNotify=true
Terminal=false
